@import 'color';

body {
    // font-family: Roboto, Helvetica, sans-serif;
    font-family: 'Barlow', Roboto, Helvetica, sans-serif ; // Update font-family for UOA Demo
    background-color: #F3F3F3;
    margin: 0;
}
